@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="margin-top:50px">
    <h1 style="text-align:center">PhoneBook Directory</h1>
    <p class="lead">This is an Asp.Net MVC Web App for CRUD operations.</p>
</div>